@{
    ViewBag.Title = "Contact Info";
}
<h2>@ViewBag.Title</h2>
@*<h3>@ViewBag.Message</h3>*@
<h3>@ViewBag.Name</h3>
<address>
    333 N East Lane<br />
    American Fork, UT 84003<br />
    <abbr title="Cell Phone">C:</abbr>
    (801)691-8368
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:taysoren@gmail.com">Taysoren@gmail.com</a><br />
</address>