@model IEnumerable<TakeHomeTest.Models.Person>

@{
    ViewBag.Title = "Home Page";
}
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/Home.js"></script>


<div id="searchArea">
	<h4>Search Database by Name</h4>
	<button class="searchButton" id="searchButton">Search</button>
	<input id="searchCriteria"/>
</div>
<div id="results" style="color:#A0A0A0:">
	Results Will Show Here
</div>

@*@Html.Partial("_peopleView", Model.ToArray())*@
@*@Html.Partial("_personCard", Model.ToArray()[1])*@ 
