@model TakeHomeTest.Models.Person

<div id="PersonCardDiv" style="border: solid 2px #E0E0E0; margin: 8px; padding:5px; width:auto;height:auto;float:left">
	<h2 align="center">
		@{
			var personHeader = string.Format("{0} {1}", Model.FirstName, Model.LastName);
		}
		@Html.DisplayFor(model => personHeader)
	</h2>
	<div class="info" id="contactInfo" style="align-content:space-between;margin:5px">
		<table cellpadding="5" align="center">
			<tr valign ="center">
				<td>
					@{
						var lines = Model.Address.Split(':');
					}
					@for(int i = 0; i < lines.Length; i++) {
						@lines[i]<br />
					}
				</td>
				<td>
					@Html.DisplayFor(model => model.PhoneNumber)
				</td>
			</tr>
		</table>
	</div>
	<div class ="info" id="otherInfo" style="align-content:space-between;margin:5px;width:inherit">
		<table cellpadding="5" style="width:100%">
			<tr style="width:100%">
				<td align="right">
					@{
						var base64 = Convert.ToBase64String(Model.Picture);
						var imgSrc = String.Format("data:image/jpg;base64,{0}", base64);
					}
					<img id="personPic" width="196" src="@imgSrc" style="border:solid 2px grey;margin: 2px" />
				</td>
			</tr>
		</table>
	</div>
</div>

